@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .GradientLogin {
        background: linear-gradient(to right,#ee7724,#d8363a,#dd3675,#b44593);
    }

    .BackGroundLogin {
        background-image: url('/assets/img/curved-images/curved6.jpg')
    }

    .BackGroundSignUp {
        background-image: url('/assets/img/curved-images/curved14.jpg')
    }

    .ProfileBackGround1 {
        background-image: url('/assets/img/curved-images/white-curved.jpeg')
    }

    .ProfileBackGround2 {
        background-image: url('/assets/img/curved-images/curved0.jpg'); 
        background-position-y: 50%
    }

    .BillingBackGround1 {
        background-image: url('/assets/img/curved-images/curved14.jpg')
    }

    .BillingStyle1 {
        position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(617px, -513px);
    }

    .BillingStyle2 {
        position: absolute; left: 0px; transform: translate(0px);
    }
    .BillingStyle3 {
        position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(978px, -513px)
    }

    .BillingStyle4 {
        position: absolute; left: 0px; transform: translate(0px);
    }

    .HomeBackGround1{
        background-image: url('/assets/img/ivancik.jpg')
    }

    .homeStyle15{
        position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(690px, 298px);
    }
    .homeStyle16{
        position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(654px, 361px);
    }
    .homeStyle17 {
        position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(654px, 109px);
    }
    .homeStyle18{
        position: absolute; left: 0px; transform: translate(0px);
    }
}