@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .GradientLogin {
        background: linear-gradient(to right,#ee7724,#d8363a,#dd3675,#b44593);
    }

    .BackGroundLogin {
        background-image: url('/assets/img/curved-images/curved6.jpg')
    }

    .BackGroundSignUp {
        background-image: url('/assets/img/curved-images/curved14.jpg')
    }
    
}